<!DOCTYPE html>
{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Password Reset Page{% endblock %}

{% block page_heading %}Reset my password{% endblock %}

{% block content %}
<div class="container">
    <form method="POST"> 
        <p>Please enter your email address</p>

        {% csrf_token %}

        {{form.email.erros}}

        <p>
            <label for="id_email">Email Address:</label>
            {{form.email}}
        </p>
        <button type="submit">Reset Password</button>
    </form>
</div>
{% endblock%}